.main {
  display: flex;
  width: 300px;
  height: 400px;
  justify-content: center;
  flex-direction:column
}
.bgCircle {
  /* margin: 2rem; */
  width: 150px;
  display: flex;
  height: 150px;
  position: relative;
  bottom: 10%;
  left: 25%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(242, 237, 237, 0.5);
}

.imgBg {
  position: relative;
  right: 20%;
}

.chip {
  background: rgba(129, 124, 124, 0.453);
  padding: 2px 10px;
  border-radius: 8px;
  font-weight: 600;
  width: 20%;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 8px;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
